.sidebar{
    width: 200px ;
    margin: 0;
    padding: 0;
    background-color: #181c2e;
    position: fixed;
    height: 100%;
    overflow: auto;

}

.sidebar div{
    background: url('../../assets/cover.png') ;
    background-color: #181c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}



.sidebar div{
    padding-top: 30px;
}

.sidebar div img{
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(4px 3px 6px #121212);
    -webkit-filter:drop-shadow(4px 3px 6px #121212) ;
}

.sidebar a{
    display: block;
    padding: 16px;
    display: flex;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.4s;
}
.sidebar button{
    background: none;
    width: 100%;
    border: none;
    display: block;
    padding: 16px;
    display: flex;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.4s;
}
.sidebar  svg{
    margin-right: 0.5rem;

}
.sidebar a:hover{
    background-color: #121212;
    color: #FFF;
}
.sidebar button:hover{
    background-color: #121212;
    color: #FFF;
}
.content{
  margin-left: 200px;  
  padding: 1px 16px;

}
.sys{
    width: 200px;
    height: 150px;
    display: block;
    margin-top: 150%;
    margin: 100;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(4px 3px 6px #121212);
    -webkit-filter:drop-shadow(4px 3px 6px #121212) ;    
}
/* Estilos para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Ocultar o submenu inicialmente */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #181c2e;
    min-width: 150px;
    padding: 10px;
    border-radius: 4px;
    top: 15px; /* Ajuste a posição vertical conforme necessário */
    left: 22%;
    z-index: 1;
}

/* Estilos para os links no submenu */
.dropdown-menu p {
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Exibir o submenu ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo para o link principal de Cadastro */
.dropdown-toggle {
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
}

@media screen and ( max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    
    div.content{
        margin-left: 0 ;
    }

    .sidebar a{
        float: left;
    }
    .sidebar button{
        float: left;
    }
    .sidebar div{
       display: none; 
    }
    .sidebar a svg{
        display: none;
    }
    .sys{
        display: none;
    }
}

@media screen and (max-width:400px) {
    .sidebar a{
        text-align:center;
        float: none;
    }
    .sidebar button{
        text-align:center;
        float: none;
    }
    .sidebar a svg{
        display: none;
    }
    .sys{
        display: none;
    }
}